table{
margin-top: 20px;
color: rgb(68, 68, 68);
}
tr{
  
}
td{
    display: flex;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
}
tr:nth-child(odd) {background-color: #f2f2f2;}